<ol class='post-list'>
  {{#each cats as |cat|}}
    <li>
      <article class='post'>
        <div class='title'>
          <a href="{{cat.name}}" target='_blank'>
            {{cat.name}}
          </a>
          <span>
            ({{name}})
          </span>
        </div>
        <div class='meta'>
          {{cat.user.username}} on

          <a href="/api/cats/{{id}}">
            cat details - {{cat.name}}, {{cat.color}}
          </a>
        </div>
      </article>
    </li>
  {{/each}}
</ol>