<style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.topheader{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    background-color: #232836;
    color: aliceblue;
    text-align: center;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#232836 ;
    column-gap: 30px;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    text-align: center;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
    text-align: center;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.field button{
    color: #fff;
    background-color: #0171D3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016DCB;
}
</style>


<ul class=‘post-list’>
  {{#each cats as |cat|}}
    <li>
      <article class=‘post’>
        <div class=‘title’>
          <a href=“{{cat.name}}” target=‘_blank’>
            USER NAME - {{cat.user.username}} |
            CAT COLOR - {{
              cat.color
            }} | CAT NAME- {{cat.name}}
            | CLICKS - {{cat.click_count}} 
          </a>
          <span>
            ({{name}})
          </span>
        </div>
        {{!-- <div class=‘meta’>
          {{cat.user.username}} on
          <a href=“/api/cats/{{id}}“>
            cat details - {{cat.name}}, {{cat.color}}
          </a>
        </div> --}}
      </article>
    </li>
  {{/each}}
</ul>